<p>
  Welcome template-driven works!
</p>

<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">

  <input type="text" name="emailid" required minlength="4" placeholder="emailid" ngModel>

  <!-- <div *ngIf="!emailid.valid && (emailid.dirty || emailid.touched)" class="alert alert-danger"> -->

  <div *ngIf="emailid.errors.required">
    Name is required.
  </div>
  <div *ngIf="emailid.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <!-- </div> -->

  <br/>

  <input type="password" name="passwd" placeholder="passwd" ngModel>

  <br/>

  <input type="submit" value="submit">

</form>