<div>
  <form
    [formGroup]="sampleFormGroup"
    (ngSubmit)="handleSubmit(sampleFormGroup.value)"
  >
    <label> First Name : <input type="text" formControlName="name" /> </label>
    <br />

    <label> <button (click)="handleAddRow()">Add Item</button></label>
    <label> <button (click)="handleDeleteRow()">Delete Item</button></label>
    <br />
    <div formArrayName="items">
      <div *ngFor="let item of cartItems.controls; let i = index">
        <div [formGroup]="item">
          <label>
            Cart Item : <input type="text" formControlName="quantity" />
            <input type="text" formControlName="description" />
          </label>
        </div>
      </div>
    </div>
    <br />
    <label>
      <input type="submit" [disabled]="!sampleFormGroup.valid" value="Submit"
    /></label>
  </form>
</div>
