<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!--Structural directives : * indicates the structural directive-->
  <!-- <ul *ngIf="studentList">
    <li *ngFor="let student of studentList">{{student.id}} || {{student.name}}</li>
  </ul>

  <ol [ngSwitch]="student?.subject">
    <li *ngSwitchCase="'English'">English : {{student.subject}} </li>
    <li *ngSwitchCase="'Tamil'">Tamil : {{student.subject}} </li>
    <li *ngSwitchDefault> {{student.subject}} Default Sbuject</li>

  </ol>

  <h2> Student Marks : {{marks | number}}</h2>
  <h2> Student Marks : {{marks | percent}}</h2>
  <h2> Student subject : {{student.subject | uppercase}}</h2>
  <h2> Student DOB : {{dob | date}}</h2>
  <button (click)="buttonClick($event)"> Event Binding Test</button>
  <input type="checkbox" (change)="checkboxClick($event)" /> Gender
  <input type="text" (change)="onChange($event)" /> -->
  <!-- <br>Name change Test

  <br>
  <p appTest>Welcome to {{title}}. </p> -->

  <!-- <ol>
      <li appTest>List Item</li>
    </ol> -->
  <br>
  <!-- 
  <a href="/home"> home </a>
  <a routerLink="/login"> Login </a>

  <app-home-component></app-home-component> -->

  <!-- <a routerLink="/home"> home </a>
  <a routerLink="/login"> Login </a>
  <app-template-driven></app-template-driven> -->

  <app-order

</div>