<!-- The content below is only a placeholder and can be replaced. -->
<div>
  <!--
    <h1>
      Welcome to {{ title }}!
    </h1>
  -->

  <!-- <app-binding> </app-binding> -->
  <!-- <app-reactive-form></app-reactive-form> -->

  <!-- API access using REST API using HttpClient -->
  <!-- <app-apiacces></app-apiacces> -->

  <!-- Firebase data access -->
  <!-- <app-db></app-db> -->

  <!-- Parent Child communication -->
  <!-- <app-parnet> </app-parnet> -->

  <!--
    <h3>Style 1</h3>
    <app-style1></app-style1>
    <div>
      <h3>Style 2</h3>
      <app-style2></app-style2>
    </div>
    <h3>Global Styles</h3>
    <app-style3></app-style3>

    <h4>Shadow DOM</h4>
    <app-style4> </app-style4>
  -->

  <!-- <app-firstanimation></app-firstanimation> -->
  <!--
    <a routerLink="['/home', ab=45]"> Home </a> |
    <a routerLink="/login"> Login </a>

    <div background="geeen">
      welcome
      <router-outlet></router-outlet>
    </div>
  -->
  <!-- <app-home-component></app-home-component> -->

  <!-- <app-i18-sample></app-i18-sample> -->

  <!-- <app-marketing></app-marketing> -->

  <!-- <app-formadvance></app-formadvance> -->
  <!-- <app-complexform> </app-complexform> -->
  <!-- <app-reactiveform></app-reactiveform> -->

  <!-- <app-formvalidation></app-formvalidation> -->

  <!-- <app-pipesbasic></app-pipesbasic> -->
  <!-- <app-reactiveform> </app-reactiveform> -->

  <!-- <app-samplepipe></app-samplepipe> -->
  <!-- <app-structuraldirective> </app-structuraldirective> -->

  <!-- <app-sampledirective></app-sampledirective> -->

  <!-- <app-forms-template></app-forms-template> -->

  <!--
    <h4>Simple Style Component</h4>
    <app-simplestyle></app-simplestyle>
    <hr />
    <h3>Simplet Style Component 1</h3>
    <app-simplestyle1></app-simplestyle1>
  -->

  <!-- <app-templateforms></app-templateforms> -->

  <app-securitysample></app-securitysample>
</div>
