/* You can add global styles to this file, and also import other style files */
/* .test {
  background-color: rgb(87, 34, 34);
  font-family: "Times New Roman";
  font-style: italic;
}
*/
/* p {
  background-color: blue;
  font-style: italic;
} */
